/machine_learning/File/nbproject/private/
/machine_learning/File/build/
/machine_learning/PerceptronMain/nbproject/private/
/machine_learning/PerceptronMain/build/
/machine_learning/PerceptronMain/dist/
/machine_learning/HexapawnMain/nbproject/private/
/machine_learning/HexapawnMain/build/
/machine_learning/HexapawnMain/dist/
/machine_learning/Fitness/Fitness/nbproject/private/