/machine_learning/File/nbproject/private/
/machine_learning/File/build/
/machine_learning/PerceptronMain/nbproject/private/
/machine_learning/PerceptronMain/build/
/machine_learning/PerceptronMain/dist/